# Ignore file backups
*~

# Ignore compiled Python and caches
*.pyc
*.pyo
__pycache__
.pytest_cache

# Ignore egg directory when installed in "development" mode
barnapy.egg-info

# Ignore synchronization directory
sync
